.panel.panel-default
  .panel-heading
    .panel-title
      Photos
      .pull-right
        = link_to t('new', model_name: 'Photo' ).html_safe, new_photo_path, :class => 'btn btn-primary'

  .panel-body
    %table#photos.table.table-bordered.table-striped.dataTable{:data => {:source => photos_url(:format => 'json')}}
      %thead
        %tr
          %th Name
          %th Description
          %th Priority
          %th Invention
          %th Media
            %th
      %tbody
