.panel.panel-default
  .panel-heading
    .panel-title
      New Photo
      .pull-right
        = link_to t('back',to: "Photos").html_safe, photos_path, :class => 'btn btn-default'
  .panel-body
    = render 'form'

