$brandDefault   : #ecf0f1;
/* Clear */
$bgDefault      : #ffffff;
$bgHighlight    : #5f027e;
$brandDefault   : #eeeeee;
$colDefault     : #5f027e;
$colHover       : #8e44ad; /*/
/* Black * /
$bgDefault      : #2f013e;
$bgHighlight    : #424242;
$brandDefault   : #ecf0f1;
$colDefault     : #ecf0f1;
$colHover       : #cfcfcf; /*/
/* Blue * /
$bgDefault      : #002BA4;
$bgHighlight    : darken($bgDefault, 5%);
$brandDefault   : #ecf0f1;
$colDefault     : #becfff;
$colHover       : lighten($colDefault, 10%); /*/
/* Red * /
$bgDefault      : #e74c3c;
$bgHighlight    : #c0392b;
$brandDefault   : #ecf0f1;
$colDefault     : #ecf0f1;
$colHover       : #ffbbbc; /*/
/* Orange * /
$bgDefault      : #ec971f;
$bgHighlight    : darken($bgDefault, 5%);
$brandDefault   : #ecf0f1;
$colDefault     : lighten($bgDefault, 37%);
$colHover       : lighten($colDefault, 30%); /*/
/* Green * /
$bgDefault      : #2ecc71;
$bgHighlight    : #27ae60;
$colDefault     : #ecf0f1;
$colHover       : #d1ffed; /*/
/* Purple * /
$bgDefault      : #5f027e;
$bgHighlight    : #8e44ad;
$colDefault     : #ecf0f1;
$colHover       : #ecdbff; /*/
/* Orange * /
$bgDefault      : #e67e22;
$bgHighlight    : #d35400;
$colDefault     : #ecf0f1;
$colHover       : #ffe6d1; /*/



/* --- Style --- */
.navbar-inverse {
    background-color: $bgDefault;
    border-color: $brandDefault;
    .navbar-brand {
        height: 70px;
        color: $brandDefault;
        &:hover, &:focus {
            color: $colHover; }}
    .navbar-nav {
        > li {
            > a {
                color: $colDefault;
                &:hover, &:focus {
                    color: $colHover;   }}}
        .active {
            > a, > a:hover, > a:focus {
                color: $colHover;
                background-color: $bgHighlight; }}
        .open {
            > a, > a:hover, > a:focus {
                color: $colHover;
                background-color: $bgHighlight;
                .caret {
                    border-top-color: $colHover;
                    border-bottom-color: $colHover; }}}
        > .dropdown {
            > a {
                .caret {
                    border-top-color: $colDefault;
                    border-bottom-color: $colDefault; }
                &:hover, &:focus {
                    .caret {
                        border-top-color: $colHover;
                        border-bottom-color: $colHover; }}}}}
    .navbar-toggle {
        border-color: $bgHighlight;
        &:hover, &:focus {
            background-color: $bgHighlight; }
        .icon-bar {
            background-color: $colDefault; }}}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: $colDefault;
        &:hover, &:focus {
            color: $colHover;
            background-color: $bgHighlight; }}
}
