- if user_signed_in?
  %li.dropdown
    = link_to raw("Administration <b class='caret'></b>"), "#", :class => "dropdown-toggle nopjax", 'data-toggle' => 'dropdown'
    %ul.dropdown-menu
      - if can?(:manage, User)
        %li= link_to 'Users', users_path
